body {
  background: #ddd;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background: white;
}

header {
  display: flex;
  background: #eee;
  justify-content: space-between;
  padding: 2em;
}

main {
  padding: 2em;
}